.modal-dialog
  .modal-content
    .modal-header
      button(type="button" class="close" data-dismiss="modal") &times;
      h4.modal-title(style="text-align-last:center") Add Student
    .modal-body
      .container-fluid
        form.form-horizontal
          include addStudentInfoForm.pug
          include addStudentAccordionForm.pug
