DOCTYPE
html
    head
        block head
        title= title
        style
            include theme.css
    body
        //.rightBox#titleBox
        .leftBox
            .logo
                img(src="https://www.ngmatlanta.org/wp-content/uploads/2014/11/logo-white.png")
            .menu
                a(id ="menuButton" href='/students') Students
                a(id ="menuButton" href='/schools') Schools
                a(id ="menuButton" href='/staff') Staff
                a(id ="menuButton" href='/survey') Surveys
                a(id ="menuButton" href='/StudentInfo') Student Info

        .rightBox
            block content
