extends dashboard.pug

block navBar
  ul.nav.navbar-nav
    li
      a(href='dashboard') Overview
    li
      a(href='students') Students
    li.active
      a(href='schools') Schools
    li
      a(href='staff') Staff
    li
      a(href='survey') Surveys
    li
      a(href='myprofile') My Profile

block content
  h1 Schools

  input(type='search' id='search' value class='form-control' placeholder='Search...')
  .pre-scrollable
    .table-responsive
      table#studentTable.table.table-striped.table-hover
        thead
          tr
            th.text-center School
            th.text-center NGM Students
            th.text-center Contact Person
            th.text-center Avg. GPA
            th.text-center Extra?
        tr
          td: a(href="#" data-toggle="modal" data-target="#schoolInfoModal") School 1
          td: a(href="#" data-toggle="modal" data-target="#schoolInfoModal") 5
          td: a(href="#" data-toggle="modal" data-target="#schoolInfoModal") John Smith
          td: a(href="#" data-toggle="modal" data-target="#schoolInfoModal") 3.5
          td: a(href="#" data-toggle="modal" data-target="#schoolInfoModal") ??
        tr
          td school 2
          td 10
          td Jonah Long
          td 2.9
          td ??

    //for (x =0; x < input.size; x++)
      tr
        td input[x].name


  #schoolInfoModal.modal(role="dialog")
      include schoolInfoModal.pug

append scripts
  //script(src='jquery-3.1.1.slim.min.js')
  //script(src='jquery.searchable-1.1.0.min.js')
  script
    include jquery-3.1.1.slim.min.js
    include jquery.searchable-1.1.0.min.js
  script.
    $(function () {
      $( '#studentTable' ).searchable({
        striped : true,
        oddRow: { 'background-color': '#f5f5f5' },
        evenRow: { 'background-color': '#fff' },
        searchType: 'fuzzy'


      });
    });
