.form-group
  .col-sm-2
      p
        b General Information
.form-group
  .col-sm-2
      label First Name
  .col-sm-10
      input.form-control(type = 'text' id = 'inputFirstName' placeholder = 'First Name')
.form-group
    .col-sm-2
        label Last Name
    .col-sm-10
        input.form-control(type = 'text' id = 'inputLastName' placeholder = 'Last Name')
.form-group
    .col-sm-2
        label School
    .col-sm-10
        input.form-control(type = 'text' placeholder = 'School')
