extends dashboard.pug

block navBar
  ul.nav.navbar-nav
    li
      a(href='dashboard') Overview
    li
      a(href='students') Students
    li
      a(href='schools') Schools
    li.active
      a(href='staff') Staff
    li
      a(href='survey') Surveys
    li
      a(href='#myProfile') My Profile

block content
  h1 Staff Block