extends dashboard.pug

block navBar
  ul.nav.navbar-nav
    li
      a(href='dashboard') Overview
    li.active
      a(href='students') Students
    li
      a(href='schools') Schools
    li
      a(href='staff') Staff
    li
      a(href='survey') Surveys
    li
      a(href='#myProfile') My Profile

block content
  h1 Students

  input(type='search' id='search' value class='form-control' placeholder='Search...')
  .pre-scrollable
    .table-responsive
      table#studentTable.table.table-striped.table-hover
        thead
          tr
            th.text-center First Name
            th.text-center Last Name
            th.text-center School
            th.text-center GPA
            th.text-center Grade
        tr
          td: a(href="#" data-toggle="modal" data-target="#studentInfoModal") John
          td: a(href="#" data-toggle="modal" data-target="#studentInfoModal") Smith
          td: a(href="#" data-toggle="modal" data-target="#studentInfoModal") School 1
          td: a(href="#" data-toggle="modal" data-target="#studentInfoModal") 3.0
          td: a(href="#" data-toggle="modal" data-target="#studentInfoModal") 9th
        tr
          td Jerry
          td Smith
          td School 1
          td 3.5
          td 10th
        tr
          td Frank
          td Howard
          td School 1
          td 2.5
          td 11th
        tr
          td Larry
          td Coleman
          td School 4
          td 4.0
          td 12th
        tr
          td John
          td Schmit
          td School 4
          td 3.0
          td 10th
        tr
          td Shane
          td Campbell
          td School 2
          td 2.7
          td 11th
        tr
          td Paul
          td Hernendaz
          td School 3
          td 3.6
          td 9th
        tr
          td Tony
          td Cabrera
          td School 1
          td 3.0
          td 12th
        tr
          td John
          td Smith
          td School 1
          td 3.0
          td 9th
        tr
          td Jerry
          td Smith
          td School 1
          td 3.5
          td 10th
        tr
          td Frank
          td Howard
          td School 1
          td 2.5
          td 11th
        tr
          td Larry
          td Coleman
          td School 4
          td 4.0
          td 12th
        tr
          td John
          td Schmit
          td School 4
          td 3.0
          td 10th
        tr
          td Roy
          td Campbell
          td School 2
          td 3.5
          td 11th
        tr
          td Paul
          td Hernendaz
          td School 3
          td 3.6
          td 9th
        tr
          td Tony
          td Cabrera
          td School 1
          td 3.0
          td 12th

    //for (x =0; x < input.size; x++)
      tr
        td input[x].name

  
  #studentInfoModal.modal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal") &times;
          h4.modal-title(style="text-align-last:center") Student Info
        .modal-body
          .container-fluid
            //enter content
            form.form-horizontal
              .form-group
                .col-sm-2
                    p
                      b General Information
              .form-group
                .col-sm-2
                    label First Name
                .col-sm-10
                    input.form-control(type = 'text' id = 'inputFirstName' placeholder = 'First Name')
              .form-group
              .col-sm-2
                  label Last Name
              .col-sm-10
                  input.form-control(type = 'text' id = 'inputLastName' placeholder = 'Last Name')
              .form-group
                  
                  .col-sm-2.col-md-2.col-lg-2
                      label ID Number
                  .clearfix.visible-lg-block
                  .col-sm-10.col-md-10.col-lg-10
                      input.form-control(type = 'number' placeholder = 'ID Number')
              .form-group
                  .col-sm-2
                      label Date of Birth
                  .col-sm-10
                      input.form-control(type = 'date')
              .form-group
                  .col-sm-2
                      label Date of entry into Next Generation Men
                  .col-sm-10
                      input.form-control(type = 'date')
              .form-group
                  .col-sm-2
                      label Parent 1 Name
                  .col-sm-10
                      input.form-control(type = 'text' placeholder = 'Parent 1 Name')
              .form-group
                  .col-sm-2
                      label Parent 1 Phone Number
                  .col-sm-10
                      input.form-control(type = 'tel' placeholder = 'Parent 1 Phone Number')
              .form-group
                  .col-sm-2
                      label Parent 2 Name
                  .col-sm-10
                      input.form-control(placeholder = 'Parent 2 Name')
              .form-group
                  .col-sm-2
                      label Parent 2 Phone Number
                  .col-sm-10
                      input.form-control(type = 'tel' placeholder = 'Parent 2 Phone Number')
              .form-group
                  .col-sm-2
                      p
                          b Pre-Program Information
              .form-group
                  .col-sm-2
                      label # of Middle-School Suspensions
                  .col-sm-10
                      input.form-control(type = 'number' placeholder = '# of Middle-School Suspensions')
              .form-group
                  .col-sm-2
                      label # of High-School Suspensions
                  .col-sm-10
                      input.form-control(type = 'number' placeholder = '# of High-School Suspensions')
              .form-group
                  .col-sm-2
                      label # of High-School Absences
                  .col-sm-10
                      input.form-control(type = 'number' placeholder = '# of High-School Absences')


append scripts
  //script(src='jquery-3.1.1.slim.min.js')
  //script(src='jquery.searchable-1.1.0.min.js')
  script
    include jquery-3.1.1.slim.min.js
    include jquery.searchable-1.1.0.min.js
  script.
    $(function () {
      $( '#studentTable' ).searchable({
        striped : true,
        oddRow: { 'background-color': '#f5f5f5' },
        evenRow: { 'background-color': '#fff' },
        searchType: 'fuzzy'


      });
    });
  



  