DOCTYPE html
    html
        head
            title Smart Cities
            style
                include theme.css
        body
            div
            p Testing Testing
            div#boo(style = {
            width:'100px'})
            p Testing Testing 2
            div.box(style = {
            position: 'absolute',
            right:'0px', top:'0px',
            height:'100px',
            width:'500px'})
            p Testing Testing 3
