DOCTYPE
html
    head
        title= title
        style
            include theme.css
    body
        #titleBox
            p Next Generation Men
        #topRightBox
            p Testing Testing 2
        #scrollingBox
            p Testing Testing 3
        #contentBox
            p Testing Testing 4
