<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Add Cohort Form</h3>
      </div>
    </div>
    
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>New Cohort</h2>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <!--Smart Wizard -->
            <p>This is the form to add a new Cohort. Please fill out all the information.</p>
            <form action="addCohort" method="POST" role="form">
              <legend>Add Cohort</legend>
                <!-- Schools -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"for="school_id">Schools <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" name="school_id">
                      {{#each schools}}
                        <option value="{{this.school_id}}">{{this.school_name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                
                <div class="clearfix"></div>

                <!-- Year -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cohort_year">Class of <span class="required">*</span> </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" name="cohort_year">
                      <option value="2024">2024</option>
                      <option value="2023">2023</option>
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <option value="2020">2020</option>
                      <option value="2019">2019</option>
                      <option value="2018">2018</option>
                      <option value="2017">2017</option>
                      <option value="2016">2016</option>
                      <option value="2015">2015</option>
                    </select> 
                  </div>
                </div>
                                
                <div class="clearfix"></div>

                <div align="center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->


<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- jQuery Smart Wizard -->
<script src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>
