<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
          <h3>Add Student Form</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>New Student</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <!--Smart Wizard -->
            <p>This is the form to add a new student. Please fill out all the information.</p>
            <form id="notWizard" class="form-horizontal" method="post">
              <div id="wizard" class="form_wizard wizard_horizontal">
                <!--STEP HEADINGS-->
                <ul class="wizard_steps">
                  <li>
                    <a href="#step-1">
                      <span class="step_no">1</span>
                      <span class="step_descr">Step 1<br/><small>Personal Information</small></span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-2">
                      <span class="step_no">2</span>
                      <span class="step_descr">Step 2<br/><small>Guardian Information</small></span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-3">
                      <span class="step_no">3</span>
                      <span class="step_descr">Step 3<br/><small>Current School Information</small></span>
                    </a>
                  </li>
                  {{!-- <li>
                    <a href="#step-4">
                      <span class="step_no">4</span>
                      <span class="step_descr">Step 4<br/><small>Current School Information</small></span>
                    </a>
                  </li> --}}
                </ul>
                <!--/STEP HEADINGS-->
                <!--STEP 1 CONTENT-->
                <div id="step-1">
                  <!-- First Name -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="student_first_name">First Name <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="student_first_name" name="student_first_name" required="required" class="form-control col-md-7 col-xs-12">
                      </div>
                  </div>
                  <!-- Last Name -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="student_last_name">Last Name <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="student_last_name" name="student_last_name" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <!-- Date of Birth -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="student_dob">Date Of Birth <span class="required">*</span></label>
                    <div class="col-sm-6 col-smd-6 col-xs-12">
                      <input type="date" class="form-control" id="student_dob" name="student_dob">
                    </div>
                  </div>
                  <!-- Gender -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div id="gender" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                          <input type="radio" name="gender" value="male"> &nbsp;Male&nbsp;</label>
                        <label class="btn btn-default"data-toggle-class="btn-primary"data-toggle-passive-class="btn-default">
                          <input type="radio" name="gender" value="female"> Female</label>
                      </div>
                    </div>
                  </div>
                  <!-- Email -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="student_email">Email</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="email" id="student_email" name="student_email" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <!-- Cell Phone -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="student_phone">Cell Phone</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="num" id="student_phone" name="student_phone" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                </div>
                <!--/STEP 1 CONTENT-->
                <!--STEP 2 CONTENT-->
                <div id="step-2">
                  <!-- Gaurdian 1 Name -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="parentone_name">Primary Guardian Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="parentone_name" name="parentone_name" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <!-- Gaurdian 1 phone -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="parentone_num">Primary Guardian Cell Phone</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="tel" id="parentone_num" name="parentone_num" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <!-- Guardian 1 Email -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="parentone_email">Primary Guardian Email</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="email" id="parentone_email" name="parentone_email" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <br/><br/>
                  <!-- Gaurdian 2 Name -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="parenttwo_name">Secondary Guardian Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="parenttwo_name" name="parenttwo_name" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <!-- Gaurdian 2 phone -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="parenttwo_num">Secondary Guardian Cell Phone</label> 
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="tel" id="parenttwo_num" name="parenttwo_num" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <!-- Guardian 2 Email -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="parenttwo_email">Secondary Guardian Email</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="email" id="parenttwo_email" name="parenttwo_email" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                </div>
                <!--/STEP 2 CONTENT-->
                <!--STEP 3 CONTENT-->
                <div id="step-3">
                  <!-- Cohort -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cohort">Cohort <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" name="cohort">
                        {{#each cohorts}}
                          <option value="{{this.cohort_id}}">
                            {{this.school_name}} Class of {{this.cohort_year}}
                          </option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <!-- Program Start Date -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Program Start Date <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="date" class="form-control" id="startdate" name="startdate">
                    </div>
                  </div>
                </div>
                <!--/STEP 3 CONTENT-->
              </div>
              <!-- End SmartWizard Content-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->


<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- jQuery Smart Wizard -->
<script src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>

<!-- jQuery Smart Wizard -->
<script>
$(document).ready(function () {
$('#wizard').smartWizard();

$('#wizard_verticle').smartWizard({
    transitionEffect: 'slide'
});
$('.buttonNext').addClass('btn btn-success');
$('.buttonPrevious').addClass('btn btn-primary');
$('.buttonFinish').addClass('btn btn-default');
});
</script>
<!-- /jQuery Smart Wizard -->
