.modal-dialog
  .modal-content
    .modal-header
      button(type="button" class="close" data-dismiss="modal") &times;
      h4.modal-title(style="text-align-last:center") Add Student
    .modal-body
      .container-fluid
        form.form-horizontal(role='form', action="/addstudent",method="post", style='max-width: 300px;')
          include addStudentForm.pug
          include addStudentAccordionForm.pug
          .form-group
                  button.btn.btn-default(type='submit') Submit
