<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Next Generation Men</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Editing Survey: {{survey.survey_name}}</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

         
            <form method="POST" class="form-horizontal" role="form">
                <div class="form-group">
                  <legend>Edit Survey Category</legend>
                </div>

                <div class="form-group row">
                  <label for="category_name" class="col-sm-2 col-form-label col-form-label-lg">Category Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" name="category_name" placeholder="Name of Category of Survey Questions" required="required" value="{{current.survey_category_name}}">
                  </div>
                </div>
                
                
                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->


<!-- jQuery -->
<script src="../../../../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../../../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../../../../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../../../../vendors/nprogress/nprogress.js"></script>
<!-- jQuery Smart Wizard -->
<script src="../../../../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<!-- Custom Theme Scripts -->
<script src="../../../../build/js/custom.min.js"></script>

<!-- Datatables -->
<script src="../../../../vendors/datatables.net/js/jquery.dataTables.min.js"></script>

<script src="../../../../vendors/jszip/dist/jszip.min.js"></script>
<script src="../../../../vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="../../../vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Datatables -->
<script>
$(document).ready(function() {
$('#datatable').DataTable({
  "searching" : true
});

} );
</script>
<!-- /Datatables -->
