.form-group
  .col-sm-12
      p
        b School Information
.form-group
    .col-sm-2
        label School Name
    .col-sm-10
        //- input.form-control(name = 'name' type = 'text'
                            placeholder = 'School Name')
        input.form-control(name="sname"
                              type = 'text'
                              placeholder = 'School Name'
                              value = 'Name')
.form-group
    .col-sm-2
        label School Address
    .col-sm-10
        //- input.form-control(name = 'address' type = 'text'
                            placeholder = 'School Address')
        input.form-control(name="sname"
                              type = 'text'
                              placeholder = 'School Name'
                              value = 'Name')
.form-group
    .col-sm-2
        label School Phone Number
    .col-sm-10
        //- input.form-control(name = 'num' type = 'tel'
                            placeholder = 'Phone Number')
        input.form-control(name="sname"
                              type = 'text'
                              placeholder = 'School Name'
                              value = 'Name')
//- .form-group
    .col-sm-2
        label Number of NGM Students
    .col-sm-10
        input.form-control(name = 'numstudents' type = 'number'
                            placeholder = 'Number of NGM Students')
//- .form-group
    .col-sm-2
        label Contact Person
    .col-sm-10
        input.form-control(name = 'cperson' type = 'text'
                            placeholder = 'Contact Person')
//- .form-group
    .col-sm-2
        label Average GPA
    .col-sm-10
        input.form-control(name = 'avggpa' type = 'number'
                            placeholder = 'Average Gpa')
