.form-group
  .col-sm-12
      p
        b General Information
.form-group
  .col-sm-2
      label First Name
  .col-sm-10
      input.form-control(name="fname"
                            type = 'text'
                            id = 'inputFirstName'
                            placeholder = 'First Name')
.form-group
    .col-sm-2
        label Last Name
    .col-sm-10
        input.form-control(name="lname"
                            type = 'text'
                            id = 'inputLastName'
                            placeholder = 'Last Name')
.form-group
    .col-sm-2
        label Date of Birth
    .col-sm-10
        input.form-control(name="dob" type = 'date')
.form-group
    .col-sm-2
        label Date of entry into Next Generation Men
    .col-sm-10
        input.form-control(name="ngmdate" type = 'date')
.form-group
    .col-sm-2
        label Phone Number
    .col-sm-10
        input.form-control(name = 'num' type = 'tel'
                            placeholder = 'Phone Number')
.form-group
    .col-sm-2
        label Email
    .col-sm-10
        input.form-control(name = 'email' type = 'email'
                            placeholder = 'Email')
.form-group
    .col-sm-12
        p
            b Parent Information
.form-group
    .col-sm-2
        label Parent 1 Name
    .col-sm-10
        input.form-control(name="p1name"
                            type = 'text'
                            placeholder = 'Parent 1 Name')
.form-group
    .col-sm-2
        label Parent 1 Phone Number
    .col-sm-10
        input.form-control(name="p1num"
                            type = 'tel'
                            placeholder = 'Parent 1 Phone Number')
.form-group
    .col-sm-2
        label Parent 2 Name
    .col-sm-10
        input.form-control(name="p2name" placeholder = 'Parent 2 Name')
.form-group
    .col-sm-2
        label Parent 2 Phone Number
    .col-sm-10
        input.form-control(name="p2num"
                            type = 'tel'
                            placeholder = 'Parent 2 Phone Number')
.form-group
    .col-sm-12
        p
            b Pre-Program Information
.form-group
    .col-sm-2
        label Number of Middle-School Suspensions
    .col-sm-10
        input.form-control(name="msuspens"
                            type = 'number'
                            placeholder
                                = 'Number of Middle-School Suspensions')
.form-group
    .col-sm-2
        label Number of High-School Suspensions
    .col-sm-10
        input.form-control(name="hsuspens"
                            type = 'number'
                            placeholder
                                = 'Number of High-School Suspensions')
.form-group
    .col-sm-2
        label Number of High-School Absences
    .col-sm-10
        input.form-control(name="habsences"
                            type = 'number'
                            placeholder
                                = 'Number of High-School Absences')
.form-group
    .col-sm-12
        p
            b Academic Information
