.modal-dialog.modal-lg
  .modal-content
    .modal-header
      button(type="button" class="close" data-dismiss="modal") &times;
      button.btn.btn-default.btn-ms(tyle = 'button' href = '#'
                                    data-dismiss = 'modal' data-toggle = 'modal'
                                    style = 'position: absolute; left: 2%'
                                    data-target = '#editSchoolModal')
      h4.modal-title(style="text-align-last:center") School Info
    .modal-body
      .container-fluid
        form.form-horizontal(role='form', action="/addSchool" method="post")
            include schoolInfoForm.pug
            .form-group
                    button.btn.btn-default(type='submit') Submit
