.modal-dialog
  .modal-content
    .modal-header
      button(type="button" class="close" data-dismiss="modal") &times;
      h4.modal-title(style="text-align-last:center") School Info
    .modal-body
      .container-fluid
        form.form-horizontal(role='form', action="/addinfo",method="post", style='max-width: 300px;')
            include schoolInfoForm.pug
            .form-group
                    button.btn.btn-default(type='submit') Submit
