.form-group
  .col-sm-2
      p
        b General Information
.form-group
  .col-sm-2
      label First Name
  .col-sm-10
      input.form-control(name = 'fname' type = 'text' id = 'inputFirstName'
                            placeholder = 'First Name')
.form-group
    .col-sm-2
        label Last Name
    .col-sm-10
        input.form-control(name = 'lname' type = 'text' id = 'inputLastName'
                            placeholder = 'Last Name')
.form-group
    .col-sm-2
        label School
    .col-sm-10
        input.form-control(name = 'school' type = 'text'
                            placeholder = 'School')
.form-group
    .col-sm-2
        label Average GPA
    .col-sm-10
        input.form-control(name = 'avggpa' type = 'number'
                            placeholder = 'Average GPA')
.form-group
    .col-sm-2
        label Students
    .col-sm-10
        input.form-control(name = 'students' type = 'text'
                            placeholder = 'Students')
