.form-group
  .col-sm-12
      p
          b(style = 'text-align-last:center') General Information
      button.btn.btn-default.btn-lg(tyle = 'button' href = '#' data-dismiss = 'modal' data-toggle = 'modal' style = 'float:center'
                              data-target = '#editStudentModal')
          span.glyphicon.glyphicon-cog(style = 'margin:5px')
.form-group
  .col-sm-2
      label First Name
  .col-sm-10
      //p(style = 'text-align-last:left') #{val.fname}
      p(style = 'text-align-last:left') Dummy Name
.form-group
    .col-sm-2
        label Last Name
    .col-sm-10
        //p(style = 'text-align-last:left') #{val.last_name}
        p(style = 'text-align-last:left') Dummy Name
.form-group
    .col-sm-2
        label Email
    .col-sm-10
        //p(style = 'text-align-last:left') #{val.last_name}
        p(style = 'text-align-last:left') Dummy Email
.form-group
    .col-sm-2
        label Phone Number
    .col-sm-10
        //p(style = 'text-align-last:left') #{val.last_name}
        p(style = 'text-align-last:left') (xxx)xxx-xxxx
