extends dashboard.pug

block navBar
  ul.nav.navbar-nav
    li
      a(href='dashboard') Overview
    li
      a(href='students') Students
    li
      a(href='schools') Schools
    li.active
      a(href='staff') Staff
    li
      a(href='survey') Surveys
    li
      a(href='myprofile') My Profile
    li
      a.pull-right(href='logout') Logout - #{user}

block content
  h1 Staff

  input(type='search' id='search' value class='form-control' placeholder='Search...')
  .pre-scrollable
    .table-responsive
      table#studentTable.table.table-striped.table-hover
        thead
          tr
            th.text-center First Name
            th.text-center Last Name
            th.text-center School
            th.text-center Avg. GPA
            th.text-center Students
        tr
          td: a(href="#" data-toggle="modal" data-target="#staffInfoModal") John
          td: a(href="#" data-toggle="modal" data-target="#staffInfoModal") Smith
          td: a(href="#" data-toggle="modal" data-target="#staffInfoModal") School 1
          td: a(href="#" data-toggle="modal" data-target="#staffInfoModal") 3.5
          td: a(href="#" data-toggle="modal" data-target="#staffInfoModal") 5
        tr
          td Jonah
          td Long
          td School 2
          td 2.9
          td 15

    .btn.btn-default(type = 'submit' data-toggle = 'modal' data-target = '#addStaffModal') Add School

  #addStaffModal.modal(role = 'dialog')
      include addStaffModal.pug

  #staffInfoModal.modal(role="dialog")
      include staffInfoModal.pug

append scripts
  //script(src='jquery-3.1.1.slim.min.js')
  //script(src='jquery.searchable-1.1.0.min.js')
  script
    include jquery-3.1.1.slim.min.js
    include jquery.searchable-1.1.0.min.js
  script.
    $(function () {
      $( '#studentTable' ).searchable({
        striped : true,
        oddRow: { 'background-color': '#f5f5f5' },
        evenRow: { 'background-color': '#fff' },
        searchType: 'fuzzy'


      });
    });
