.modal-dialog.modal-lg
  .modal-content
    .modal-header
      button(type="button" class="close" data-dismiss="modal") &times;
      h4.modal-title(style="text-align-last:center") Student Info
    .modal-body
      .container-fluid
        form.form-horizontal(role='form', action="/addstudent" method="post")
          include studentInfoForm.pug
          include studentAccordionForm.pug
          .form-group
                  button.btn.btn-default(type='submit') Submit
