extends dashboard.pug

block navBar
  ul.nav.navbar-nav
    li
      a(href='dashboard') Overview
    li
      a(href='students') Students
    li
      a(href='schools') Schools
    li
      a(href='staff') Staff
    li.active
      a(href='survey') Surveys
    li
      a(href='myprofile') My Profile
    li
      a.pull-right(href='logout') Logout - #{user}

block content
  h1 Survey Block
