div {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
}

.rightBox {
    width: 300px;
}

#titleBox {
    height: 200px;
}

#topRightBox {
    position: absolute;
    top: 0px;
    left: 344px;
    width: 1000px;
    height: 200px;
}

#scrollingBox {
    height: 500px;
}

#contentBox {
    float:left;
    position: absolute;
    top: 224px;
    left: 344px;
    width: 1000px;
    height: 500px;
}
